<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="http://medelle.strumag.tn" style="color:#585772; text-decoration:none"><h4 class="logo">HikeTN<sub>Beta</sub></h4></a>
        </div>
        <div class="social">
            <a href="https://instagram.com/medellewithme" target="_blank"><img src="{{ url_for('static', filename='img/Instagram.svg') }}" alt="IG" /></a>
        </div>
    </div>
    <div class="banner">
        <div class="banner-text">
            Discover your next hike
        </div>
    </div>
    
    
</body>
</html>