<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="bgimg">
      <div class="header">
        <div class="logo-container">
            <a href="{{ url_for('site.index') }}" style="text-decoration:none"><h1 class="logo"></h1>HikeTN<sub>Beta</sub></a>
        </div>
        <a href="{{ url_for('site.login') }}" class="login">Login</a>
      </div>
      <div class="middle">
        <h1>Discover your next hike</h1>
      </div>
      <div class="footer-container">
          <div class="footer">
            Made with <span style="color: #e25555;">&hearts;</span> by <a href="https://twitter.com/TheStruDJA" target="_blank">StruDJA</a>
          </div>
      </div>
    </div>
    
    
</body>
</html>